<div class="login-form">
   <fieldset>
      <legend>Please Log In</legend>
	     <% form_tag do %>
		    <p>
			   <label for="userid">User ID:</label>
			   <%= text_field_tag :userid, params[:userid] %>
			</p>
			
			<p>
			   <label for="password">Password:</label>
			   <%= password_field_tag :password, params[:password] %>
			</p>
			
			<p>
			   <%= submit_tag "Login" %>
			</p>
		<% end %>
	</fieldset>
</div>